<!DOCTYPE html>
<html ng-app="demo" ng-controller="myCtrl">

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<script
	src="app.js"></script>
	

<head>
<meta charset="ISO-8859-1">
<title>Customer login portal</title>
</head>
<body text="white" bgcolor="#E6E6FA" background="https://appstore.wipro.com/WiproRadio/HTML/images/bg1.jpg">
	<center>
		<br> <br> <br>
		<h2>Customer Login Page Demo</h2>
		<div>
			<form action="Test.html">
				<table>
					<p>
						Login : <input type="text" ng-model="login">
					</p>
					<p>
						Password : <input type="password" ng-model="login">
					</p>
					<input type="submit" value="Submit" ng-click="changeName()">
				</table>
		</div>

		</form>
		
</body>
</center>
</html>