<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="app.js"></script>
<style>
table, th , td  {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 20px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
.btn-info btn-lg {
	position: absolute;
    top: 100%;

}
    
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 50; /* Sit on top */
    padding-top: 500px; /* Location of the box */
    padding-left: 300px;
    left: 5;
    top: 5	;
    width: 20%; /* Full width */
    height: 50%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(1,1,1); /* Fallback color */
    background-color: rgba(0,0,0,0); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #ffffff;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}


/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 12px 16px;}
</style>
<title>Customer Details</title>
<body bgcolor="#E6E6FA" background="https://appstore.wipro.com/WiproRadio/HTML/images/bg1.jpg">

<div ng-app="myApp" ng-controller="customersCtrl"> 
<br><br><br><br><br><br><br><br><br><br>
<table align="center">
  <tr ng-repeat="x in names">
    <!-- <td><label><input type=button id="index" value="Status" name="selectbutton" ></label> </td> -->
     <td><button  type="button" class="btn btn-info btn-rg" data-toggle="modal" data-target="#myModal">Status</button></td>
    <td>{{  x.serviceAccount  }} </td>
    <td>{{x.IncidentID}} </td>
    <td>{{x.incidentType}} </td>
    <td>{{x.status}} </td>
    <td>{{x.comment}} </td>
    <td>{{x.creation}} </td>
  </tr>
</table>

</div>

<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Pop up</h2>
    </div>
    <div class="modal-body">
      <p>Service Account</p>
      <p>Detailed Description</p>
    </div>
  </div>

</div>


<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("index");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>



</body>
</html>
